<section class="animate__animated animate__fadeIn">
	<h3>Buscar por región <small> {{ regionActive | titlecase }} </small></h3>
	<hr>

	<h5>Seleccione la región</h5>

	<div class="row">
		<div class="col">
			<!-- [class.btn-primary]="region === regionActive" -->
			<!-- [ngClass]="{
				'btn-primary' : regionActive === region,
				'btn-outline-primary' : regionActive !== region}" -->
			<!-- [class]="( region === regionActive ) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
			<button *ngFor="let region of regions" [class]="getActiveClassCss( region )" (click)="activateRegion(region)">{{ region | titlecase }}</button>
		</div>
	</div>
	<div class="row mt-5">
		<div *ngIf="isError" class="alert alert-danger">
			No se encontró nada con el término: {{ argument }}
		</div>

		<div *ngIf="countries.length > 0" class="row">
			<div class="col">
				<app-countries-table class="table-responsive" [countriesForTable]="countries"></app-countries-table>
			</div>
		</div>
	</div>
</section>
